
.container{
    margin-left: 400px;
    margin-top: 100px;
    width: 450px;
    height: 600px;
}
#inputfield{
    width: 300px;
    height: 46px;
    font-size: 25px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
}
#btn{
    width: 100px;
    height: 46px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    background-color:darkorange;
}
.to-dos{
    margin-top: 25px;
    border-bottom: 1px solid darkorange;
}
