@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

#empty-div{
    width: 100%;
    height: 50px;
    background: #ececec;
}

#portfolio , #contact{
    background-color: #ececec;
}

 /* carousel start  */

 .cara-container {
    width: 80%;
    margin: 10px auto;
    padding-bottom: 60px;
  }
  
  .carousel {
    height: 200px;
    background-color: #ececec;
    position : relative;
    overflow : hidden ;
  }
  
  .slider {
    height: 100%;
    display: flex;
    width: 400%;
    transition: all o.3s;
  }
  
  .slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .controls .arrow i {
    font-size: 40px;
    color: #ff0000;
  }
  
  .arrow.left {
    left: 10px;
  }
  
  .arrow.right {
    right: 10px;
  }
  
  .controls ul {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    list-style: none;
    display: flex;
  
  }
  
  .controls ul li {
    width: 10px;
    height: 10px;
    border: 1px solid #ff0000;
    border-radius: 50%;
    margin: 2px;
    background: transparent;
    cursor: pointer;
  }
  
  .controls ul li.selected{
    background: #ff0000;
  }

 /* carousel end  */

 #contact {
  width: 100%;
  height: auto;
  position: relative;
 }

 #address-image img{
  width: 100%;
  height: 60vh;

 }

 .top-btn{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
 }

 .top-btn a i{
  font-size: 36px;
  color: #ff0000;
 }

